<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCks17sGfmFMKm4hbE4cAb-qn7ZU9Lq7MQ</string>
	<key>GCM_SENDER_ID</key>
	<string>525350777350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartgreenhouse</string>
	<key>PROJECT_ID</key>
	<string>greenhouse-smart-system</string>
	<key>STORAGE_BUCKET</key>
	<string>greenhouse-smart-system.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525350777350:ios:c0072f247ddba6a2480987</string>
</dict>
</plist>